/* for best practice : */
@keyframes move-right {
  0% {
    transform: translateX(-15rem) translateY(-0.5rem);
    opacity: 0; }
  80% {
    transform: translateX(2.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes move-left {
  0% {
    transform: translateX(15rem) translateY(1.5rem);
    opacity: 0; }
  80% {
    transform: translateX(-2.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes move-top {
  0% {
    transform: translateY(20rem);
    opacity: 0; }
  80% {
    transform: translateY(-2.5rem); }
  100% {
    transform: translateY(0);
    opacity: 1; } }

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

/* for best practice : */
/*Changing the value for root font-size:*/
html {
  /* please don't use px */
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  padding: 3rem;
  color: #777;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box; }

.header {
  position: relative;
  height: calc(100vh - 3rem);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-position: top center;
  background-size: cover;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
  padding: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__menu {
    position: fixed;
    top: 6rem;
    right: 6.5rem;
    width: 6.5rem;
    height: 6.5rem;
    background-color: #fff;
    border-radius: 50%; }
  .header__content {
    position: absolute;
    top: 40%;
    right: 50%;
    transform: translate(50%, -50%); }
  .header__heading {
    color: #fff;
    backface-visibility: hidden;
    margin-bottom: 6rem; }
    .header__heading--main {
      display: block;
      font-size: 6rem;
      letter-spacing: 3.5rem;
      font-weight: 400;
      animation: move-right 1s ease-in; }
    .header__heading--sub {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1.75rem;
      padding-left: 0.5rem;
      animation: move-left 1s ease-in; }
  .header__menu {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .header__menu span {
      background-color: black;
      display: block;
      width: 45%;
      height: 0.2rem;
      margin-bottom: 0.7rem; }
      .header__menu span:last-of-type {
        margin-bottom: 0; }

.btn {
  font-weight: 400;
  padding: 2rem 4.5rem;
  border: none;
  outline: none;
  display: block;
  cursor: pointer;
  position: relative;
  border-radius: 3.5rem;
  transition: all 0.15s ease-in;
  font-size: 1.6rem; }
  .btn:hover {
    transform: translateY(-0.3rem); }
    .btn:hover::after {
      transform: scale(1.4, 1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-0.1rem); }
  .btn::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 3.5rem;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.25s ease-in; }
  .btn--white {
    margin: 0 auto;
    background: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn--animated {
    animation: move-top 1s ease-in; }
