//// colors :

// green pallette
$Light-green: #7ed56f;
$Medium-green: #55c57a;
$Dark-green: #28b485;

// orange pallette:
$light-orange: #ffb900;
$Dark-orange: #ff7730;

// blue pallette:
$light-blue: #2998ff;
$Dark-blue: #5643fa;

// gray pallette:
$white-color: #fff;
$gray-color: #777;
$gray-light-color-1: #f7f7f7;
$gray-light-color-2: #eeeeee;
$gray-color-2: #999;
$gray-color-3: #333;

//// animations function:

$main-animation-function: ease-in;

//// default font size:

$default-font-size: 1.6rem;

//// gird rules :

$gridWidth: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
