//// colors :

$Light-green: #7ed56f;
$Medium-green: #55c57a;
$Dark-green: #28b485;
$white-color: #fff;
$gray-color: #777;
$gray-light-color-1: #f7f7f7;

//// animations function:

$main-animation-function: ease-in;
