@import "../abstracts/variables";
.section-features {
  .row {
    transform: skewY(7deg);
  }
}
.feature-box {
  background-color: rgba($white-color, 0.8);
  padding: 3rem 2.5rem;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  box-shadow: 0.5rem 1rem 5rem rgba(#000000, 0.15);
  transition: transform 0.25s $main-animation-function;
  &:hover {
    transform: translateY(-1.5rem) scale(1.05);
  }
}
