@import "../abstracts/variables";
@import "../abstracts/mixins";
[class|="icon"] {
  display: inline-block;
  font-size: 6rem;
  margin-bottom: 0.5rem;
  font-weight: 900;
  @include linearGradient($Light-green, $Dark-green);
}
