@import "../abstracts/variables";
%all {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
* {
  @extend %all;
  &::before {
    @extend %all;
  }
  &::after {
    @extend %all;
  }
}

html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
}
