@import "../abstracts/variables";
.section {
  &-about {
    background-color: $gray-light-color-1;
    padding: 25rem 0;
    margin-top: -20rem;
  }
  &-features {
    padding: 30rem 0;
    margin-top: -10rem;
    background-image: linear-gradient(
        to bottom right,
        rgba($Light-green, 0.8),
        rgba($Dark-green, 0.8)
      ),
      url("../img/nat-4.jpg");
    background-position: top center;
    background-size: cover;
    // clip-path: polygon(0% 20%, 100% 0%, 100% 80%, 0% 100%);
    transform: skewY(-7deg);
  }
}
